# Java bytecode
*.class

# Vim swap files
*.swp

# Various files
LAJ1_tournoi_plan_de_tests_Bruno_Parmentier_g38496.txt
LAJ1_tournoi_plan_de_tests_Bruno_Parmentier_g38496.pdf
plan_tests_instructions.txt
